{{template "header" .}}

<div class="my-article">
<h1>{{.Title}}</h1>
<p style="color: gray">{{.Date.Format "2006-01-02"}}</p>
</br>
<article class="markdown-body">
{{.HTML}}
</article>
</div>
<link href="https://cdn.bootcss.com/highlight.js/8.0/styles/default.min.css" rel="stylesheet">  
<script src="https://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>  

<script >hljs.initHighlightingOnLoad();</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
  });
</script>
<script type="text/javascript" src="https://cdn.bootcss.com/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{{template "footer"}}